external_libs/openFace/OpenFace/model/*.dat filter=lfs diff=lfs merge=lfs -text
external_libs/GazeTracking/gaze_tracking/trained_models/*.dat filter=lfs diff=lfs merge=lfs -text
external_libs/openFace/OpenFace/lib/3rdParty/dlib/lib/x64/v140/Debug/*.lib filter=lfs diff=lfs merge=lfs -text
